<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/PC/IdeaProjects/APIAutomationFramwork">
        <classes>
            <class name="com.thetestingacademy.tests.sample.TestIntegraionSample">
                <methods>
                    <include name="testCreateBooking"/>
                    <include name="testVerifyBookingID"/>
                    <include name="testUpdateBookingID"/>
                    <include name="testDeleteBookingID"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>